@page
@model LoginModel
@using Microsoft.AspNetCore;
@using BugTrackerV16.Entities;


@inject SignInManager<BugTrackerV16User> _signInManager
@inject UserManager<BugTrackerV16User> _userManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login-style.css" />
</head>



<body class="mt-3">
    <div class="container">
        <div class="row">

            <div id="big-title" class="col-md-5 mr-3">
                <h1>Bug Tracker</h1>
                <h2>A complete solution to track errors in software</h2>
                <h4>
                    @Html.ActionLink("Read more about Bug Tracker", "About", "Home")
                </h4>


                <div class="jumbotron">
                    <h4>A project by Iblal Ahmed<br /><a href="http://github.com/iblal" target="_blank">View full portfolio</a></h4>

                </div>
            </div>



            <div id="sign-in" class="col-md-6">
                <div>
                    <div id="demo" class="row">
                        <div>
                            <h2>Live demos</h2>
                            <div class="row" id="demo-buttons">
                                <div class="col-md-6">
                                    <a class="btn btn-secondary" href=@Url.Action("SubmitterDemoLogin", "Demo")>Submitter</a>
                                </div>
                                <div class="col-md-4">

                                    <a class="btn btn-secondary" href=@Url.Action("DeveloperDemoLogin", "Demo")>Developer</a>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mr-2 mt-2">

                                    <a class="btn btn-secondary" href=@Url.Action("ProjectManagerDemoLogin", "Demo")>ProjectManager</a>

                                </div>
                                <div class="col-md-4 mt-2">

                                    <a class="btn btn-secondary" href=@Url.Action("AdminDemoLogin", "Demo")>Admin</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section id="loginForm">
                        <form id="account" method="post">
                            <h4>Use a local account to log in.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}